h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	display: inline-block;
}


h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.link {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-transform: uppercase;
}

nav {
	padding: 20px 0;
}


.section1 {
	background-color: #2c3e50;
}


.section2 {
	background-color: #18bc9c;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

.section3 {
	background-color: #ffffff;
	padding-top: 70px;
	padding-bottom: 70px;
}


.contenedor {
	max-width: 900px;
	margin: auto;
}

nav .contenedor{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about {
	box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background: grey;
    width:250px;
    
}

.menu {
	display: flex;
	float: right;
}

.menu li {
	margin: 10px;
}


.ion-star {
	color: black;
}

.ion-star::before {
	content: "";
}

.ion-star::after {
	content: "";
}

.tamano {
	width: 300px;
}

.portafolio{
    width: 100%;
    max-width: 900px;
    display: flex;
    align-content: stretch;
    padding: 5px 0px 0px 5px;

}

.imagenes{
    align-items: flex-start;
    max-width: 100%;
}